<!DOCTYPE html>
<html>

	<head>
		<% include ../layout/base_styles.ejs %>
	</head>

	<body>
		<!-- Wrapper -->
		<div id="wrapper"> 

			<!-- Header -->
			<% include ../layout/base_header.ejs %>
				
			<!-- Main -->
			<div id="main">
				<div class="inner">
					
				</div>
			</div>
			
			<!-- Footer -->
			<% include ../layout/base_footer.ejs %>
		</div>
		
		<!-- Scripts -->
		<% include ../layout/base_scripts.ejs %>
		
	</body>

</html>



