<!DOCTYPE html>
<html>

	<head>
		<% include ../layout/base_styles.ejs %>
	</head>

	<body>
		<!-- Wrapper -->
		<div id="wrapper"> 

			<!-- Header -->
			<% include ../layout/base_header.ejs %>
				
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<header>
			<h1>Erat ut Sapien, mus curae, morbi dictum duis<br />
			aenean auctor at Dictum.</h1>
			<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
		</header>
		<section class="tiles">
			<article class="style1">
				<span class="image">
					<img src="images/s01.png" alt="" />
				</span>
				<a href="/products">
					<h2>Furnishing</h2>
					<div class="content">
						<p>We Don’t Believe In Moving To A New Place And Replicating The One You Left Behind, Where’s The Fun In That?</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="images/s02.png" alt="" />
				</span>
				<a href="generic.html">
					<h2>Clothing</h2>
					<div class="content">
						<p>Style Is A Way To Say Who You Are Without Having To Speak.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="images/s03.png" alt="" />
				</span>
				<a href="generic.html">
					<h2>Textbooks</h2>
					<div class="content">
						<p>Stay Hungry, Stay Foolish.</p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<img src="images/s04.png" alt="" />
				</span>
				<a href="generic.html">
					<h2>Electronics</h2>
					<div class="content">
						<p>Never In History Has Innovation Offered Promise Of So Much To So Many In So Short A Time.</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="images/s05.png" alt="" />
				</span>
				<a href="generic.html">
					<h2>Housing</h2>
					<div class="content">
						<p>Home Is Not A Place, It’s A Feeling.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<img src="images/s06.png" alt="" />
				</span>
				<a href="generic.html">
					<h2>Other</h2>
					<div class="content">
						<p>When I Become Sad, I Stop Being Sad And Be AWESOME Instead.</p>
					</div>
				</a>
			</article>
			
		</section>
				</div>
			</div>
			
			<!-- Footer -->
			<% include ../layout/base_footer.ejs %>
		</div>
		
		<!-- Scripts -->
		<% include ../layout/base_scripts.ejs %>
		
	</body>

</html>



